# This file was auto-generated by Fern from our API Definition.

import typing

from ..core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ..core.request_options import RequestOptions
from ..types.chat_completion import ChatCompletion
from ..types.chat_message import ChatMessage
from ..types.model_list import ModelList
from .raw_client import AsyncRawGatewayClient, RawGatewayClient

# this is used as the default value for optional parameters
OMIT = typing.cast(typing.Any, ...)


class GatewayClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._raw_client = RawGatewayClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> RawGatewayClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        RawGatewayClient
        """
        return self._raw_client

    def list_models(self, *, request_options: typing.Optional[RequestOptions] = None) -> ModelList:
        """
        Parameters
        ----------
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ModelList
            Danh sách models (OpenAI-compatible, không bọc envelope)

        Examples
        --------
        from dtgsoft import DtgAgentSdk

        client = DtgAgentSdk(
            token="YOUR_TOKEN",
        )
        client.gateway.list_models()
        """
        _response = self._raw_client.list_models(request_options=request_options)
        return _response.data

    def create_chat_completion(
        self,
        *,
        model: str,
        messages: typing.Sequence[ChatMessage],
        temperature: typing.Optional[float] = OMIT,
        stream: typing.Optional[bool] = OMIT,
        session_id: typing.Optional[str] = OMIT,
        thread_id: typing.Optional[str] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> ChatCompletion:
        """
        Parameters
        ----------
        model : str
            ID của agent (UUID) trên gateway `/v1/chat/completions`.

        messages : typing.Sequence[ChatMessage]

        temperature : typing.Optional[float]

        stream : typing.Optional[bool]

        session_id : typing.Optional[str]
            Session ID tùy chỉnh phía client (được orchestrator namespace theo user để chống xung đột).

        thread_id : typing.Optional[str]
            Thread ID con trong session (tùy chỉnh phía client, namespace theo user).

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ChatCompletion
            ChatCompletion (hoặc SSE stream khi stream=true)

        Examples
        --------
        from dtgsoft import ChatMessage, DtgAgentSdk

        client = DtgAgentSdk(
            token="YOUR_TOKEN",
        )
        client.gateway.create_chat_completion(
            model="model",
            messages=[
                ChatMessage(
                    role="system",
                    content="content",
                )
            ],
        )
        """
        _response = self._raw_client.create_chat_completion(
            model=model,
            messages=messages,
            temperature=temperature,
            stream=stream,
            session_id=session_id,
            thread_id=thread_id,
            request_options=request_options,
        )
        return _response.data

    def create_chat_completion_by_agent_path(
        self,
        agent_id: str,
        *,
        messages: typing.Sequence[ChatMessage],
        model: typing.Optional[str] = OMIT,
        temperature: typing.Optional[float] = OMIT,
        stream: typing.Optional[bool] = OMIT,
        session_id: typing.Optional[str] = OMIT,
        thread_id: typing.Optional[str] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> ChatCompletion:
        """
        Parameters
        ----------
        agent_id : str

        messages : typing.Sequence[ChatMessage]

        model : typing.Optional[str]
            Tuỳ chọn; agent đã xác định bởi path.

        temperature : typing.Optional[float]

        stream : typing.Optional[bool]

        session_id : typing.Optional[str]
            Session ID tùy chỉnh phía client (được orchestrator namespace theo user để chống xung đột).

        thread_id : typing.Optional[str]
            Thread ID con trong session (tùy chỉnh phía client, namespace theo user).

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ChatCompletion
            ChatCompletion (hoặc SSE stream khi stream=true)

        Examples
        --------
        from dtgsoft import ChatMessage, DtgAgentSdk

        client = DtgAgentSdk(
            token="YOUR_TOKEN",
        )
        client.gateway.create_chat_completion_by_agent_path(
            agent_id="agent_id",
            messages=[
                ChatMessage(
                    role="system",
                    content="content",
                )
            ],
        )
        """
        _response = self._raw_client.create_chat_completion_by_agent_path(
            agent_id,
            messages=messages,
            model=model,
            temperature=temperature,
            stream=stream,
            session_id=session_id,
            thread_id=thread_id,
            request_options=request_options,
        )
        return _response.data


class AsyncGatewayClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._raw_client = AsyncRawGatewayClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> AsyncRawGatewayClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        AsyncRawGatewayClient
        """
        return self._raw_client

    async def list_models(self, *, request_options: typing.Optional[RequestOptions] = None) -> ModelList:
        """
        Parameters
        ----------
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ModelList
            Danh sách models (OpenAI-compatible, không bọc envelope)

        Examples
        --------
        import asyncio

        from dtgsoft import AsyncDtgAgentSdk

        client = AsyncDtgAgentSdk(
            token="YOUR_TOKEN",
        )


        async def main() -> None:
            await client.gateway.list_models()


        asyncio.run(main())
        """
        _response = await self._raw_client.list_models(request_options=request_options)
        return _response.data

    async def create_chat_completion(
        self,
        *,
        model: str,
        messages: typing.Sequence[ChatMessage],
        temperature: typing.Optional[float] = OMIT,
        stream: typing.Optional[bool] = OMIT,
        session_id: typing.Optional[str] = OMIT,
        thread_id: typing.Optional[str] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> ChatCompletion:
        """
        Parameters
        ----------
        model : str
            ID của agent (UUID) trên gateway `/v1/chat/completions`.

        messages : typing.Sequence[ChatMessage]

        temperature : typing.Optional[float]

        stream : typing.Optional[bool]

        session_id : typing.Optional[str]
            Session ID tùy chỉnh phía client (được orchestrator namespace theo user để chống xung đột).

        thread_id : typing.Optional[str]
            Thread ID con trong session (tùy chỉnh phía client, namespace theo user).

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ChatCompletion
            ChatCompletion (hoặc SSE stream khi stream=true)

        Examples
        --------
        import asyncio

        from dtgsoft import AsyncDtgAgentSdk, ChatMessage

        client = AsyncDtgAgentSdk(
            token="YOUR_TOKEN",
        )


        async def main() -> None:
            await client.gateway.create_chat_completion(
                model="model",
                messages=[
                    ChatMessage(
                        role="system",
                        content="content",
                    )
                ],
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.create_chat_completion(
            model=model,
            messages=messages,
            temperature=temperature,
            stream=stream,
            session_id=session_id,
            thread_id=thread_id,
            request_options=request_options,
        )
        return _response.data

    async def create_chat_completion_by_agent_path(
        self,
        agent_id: str,
        *,
        messages: typing.Sequence[ChatMessage],
        model: typing.Optional[str] = OMIT,
        temperature: typing.Optional[float] = OMIT,
        stream: typing.Optional[bool] = OMIT,
        session_id: typing.Optional[str] = OMIT,
        thread_id: typing.Optional[str] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> ChatCompletion:
        """
        Parameters
        ----------
        agent_id : str

        messages : typing.Sequence[ChatMessage]

        model : typing.Optional[str]
            Tuỳ chọn; agent đã xác định bởi path.

        temperature : typing.Optional[float]

        stream : typing.Optional[bool]

        session_id : typing.Optional[str]
            Session ID tùy chỉnh phía client (được orchestrator namespace theo user để chống xung đột).

        thread_id : typing.Optional[str]
            Thread ID con trong session (tùy chỉnh phía client, namespace theo user).

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ChatCompletion
            ChatCompletion (hoặc SSE stream khi stream=true)

        Examples
        --------
        import asyncio

        from dtgsoft import AsyncDtgAgentSdk, ChatMessage

        client = AsyncDtgAgentSdk(
            token="YOUR_TOKEN",
        )


        async def main() -> None:
            await client.gateway.create_chat_completion_by_agent_path(
                agent_id="agent_id",
                messages=[
                    ChatMessage(
                        role="system",
                        content="content",
                    )
                ],
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.create_chat_completion_by_agent_path(
            agent_id,
            messages=messages,
            model=model,
            temperature=temperature,
            stream=stream,
            session_id=session_id,
            thread_id=thread_id,
            request_options=request_options,
        )
        return _response.data
